@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Projects Case Management System</h1>
    <p>Click Here To View Cases @Html.ActionLink("Here","Index","Cases")</p>
</div>
